header {
	width: 100%;
	height: 130px;
	border-bottom: 6px dotted gray;
}

h1 {
	display: inline-block;
}

#headimage {
	float: left
}

body {
}

section {
	float: left;
	text-align: center;
	width: 75%;
	border-left: 6px dotted gray;
	padding-left: 20px
}

p {
	font-size: 18px
}

.images {
	width: 400px;
	height: auto;
	border: 3px solid gray;
	padding: 3px
}

aside {
	float: left;
	width: 170px;
}

footer {
	clear: both;
	border-top: 6px dotted gray;
}